[Unit]
Description=Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
{%if ansible_os_name == 'arch'}
ExecStart=/usr/bin/iptables-restore /etc/iptables/iptables.rules
{%endif}
{%if ansible_os_name == 'ubuntu'}
ExecStart=/usr/bin/iptables-restore /etc/iptables/iptables.rules
{%endif}
ExecReload=/usr/bin/iptables-restore /etc/iptables/iptables.rules
ExecStop=/usr/lib/systemd/scripts/iptables-flush
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
