#visualFeedback {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

#visualFeedback.visible {
  display: flex;
}

#visualFeedback img {
  margin: auto;
}

#qa.hidden {
  display: none;
}

#avf-intermission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
