---
- name: install prereqs
  ansible.builtin.apt: name=mpv update_cache=true
  become: true

- name: get latest anki release info
  ansible.builtin.uri:
    url: https://api.github.com/repos/ankitects/anki/releases/latest
    headers:
      Accept: application/vnd.github.v3+json
    return_content: true
  register: uri_res

- name: debug latest anki tag
  debug: var=uri_res.json.tag_name verbosity=2
- name: debug dependent role names
  debug: var=ansible_dependent_role_names verbosity=2
  
- name: derive major.minor anki version (drop patch)
  ansible.builtin.set_fact:
    anki_version_mm: "{{ uri_res.json.tag_name | regex_replace('\\.[0-9]+$', '') }}"

- name: debug versions
  debug:
    msg:
      full_tag: "{{ uri_res.json.tag_name }}"
      major_minor: "{{ anki_version_mm }}"
    verbosity: 2

- name: download anki release tarball
  ansible.builtin.uri:
    url: "https://github.com/ankitects/anki/releases/download/{{ anki_version_mm }}/anki-launcher-{{ anki_version_mm }}-linux.tar.zst"
    headers:
      Accept: application/vnd.github.v3+json
    dest: "/tmp/anki-{{ anki_version_mm }}-linux.tar.zst"
    creates: "/tmp/anki-{{ anki_version_mm }}-linux.tar.zst"
    status_code: [200, 304]

- name: unarchive anki tarball
  ansible.builtin.unarchive:
    src: "/tmp/anki-{{ anki_version_mm }}-linux.tar.zst"
    dest: /opt
  become: true

- name: run anki install script
  ansible.builtin.command: "/opt/anki-launcher-{{ anki_version_mm }}-linux/install.sh"
  args:
    chdir: "/opt/anki-launcher-{{ anki_version_mm }}-linux"
    creates: /usr/local/share/anki/anki
  become: true

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/share/Anki2"
    state: directory
    mode: '0755'

# sync addons
- name: link anki addons directory
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/Insync/michael.w.baroody@gmail.com/Google\ Drive/addons21"
    dest: "{{ ansible_env.HOME }}/.local/share/Anki2/addons21"
    owner: "{{ ansible_user_id | string }}"
    group: "{{ ansible_user_gid | string }}"
    state: link
